@using RazorLight
@inherits TemplatePage<Checkout.Orders.Contracts.ApiModels.OrderDetails>
@{
    Layout = "_Layout.cshtml";
}

<p>Witaj @Model.BillingAddress.FirstName!</p>
<p>Dziękujemy za zakupy w pjmicrostore. Poniżej znajdziesz szczegóły swojego zamówienia.</p>
<p>Zamówienie numer <strong>@Model.Id</strong> z dnia @Model.CreateDate</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tbody>
        @foreach (var orderLine in Model.OrderLines)
        {
            <tr>
                <td>
                    @orderLine.ProductName
                </td>
                <td align="right">
                    @orderLine.Quantity
                </td>
                <td align="center">
                    @orderLine.Value zł
                </td>
            </tr>
        }
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" align="right">
                Razem
            </td>
            <td align="center">
                @Model.Total zł
            </td>
        </tr>
    </tbody>
</table>

<p>
    Dane do wysyłki:<br />
    @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName<br />
    @Model.ShippingAddress.Address<br />
    @Model.ShippingAddress.City @Model.ShippingAddress.Zip<br />
</p>
<p>
    Dane rozliczeniowe:<br />
    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName<br />
    @Model.BillingAddress.Address<br />
    @Model.BillingAddress.City @Model.BillingAddress.Zip<br />
</p>
